[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/klihub/openembedded-core.git
	branch = intel-iot-refkit/flatpak
[submodule "bitbake"]
	path = bitbake
	url = http://git.openembedded.org/bitbake
	branch = master
[submodule "meta-intel"]
	path = meta-intel
	url = https://git.yoctoproject.org/git/meta-intel
	branch = master
[submodule "meta-oic"]
	path = meta-oic
	url = https://git.yoctoproject.org/git/meta-oic
	branch = master
[submodule "meta-iot-web"]
	path = meta-iot-web
	url = https://github.com/ostroproject/meta-iot-web.git
	branch = master
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = http://git.openembedded.org/meta-openembedded
	branch = master
[submodule "meta-security-isafw"]
	path = meta-security-isafw
	url = https://github.com/01org/meta-security-isafw.git
[submodule "meta-intel-realsense"]
	path = meta-intel-realsense
	url = https://github.com/IntelRealSense/meta-intel-realsense.git
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = krogoth
[submodule "meta-flatpak"]
	path = meta-flatpak
	url = https://github.com/klihub/meta-flatpak
	branch = intel-iot-refkit/flatpak
        ignore = untracked
[submodule "meta-gplv2"]
	path = meta-gplv2
	url = https://git.yoctoproject.org/git/meta-gplv2
