[Unit]
Description=RefKit Base OS Updater

[Service]
Type=simple
StandardInput=null
StandardOutput=journal
StandardError=inherit
RemainAfterExit=no
ExecStart=/usr/bin/refkit-ostree-update --check-interval 300

[Install]
WantedBy=multi-user.target
