# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "10"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Also update layer.conf's LAYERDEPENDS_refkit when adding layers.
REFKIT_LAYERS = " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-selftest \
  ##OEROOT##/../meta-intel \
  ##OEROOT##/../meta-refkit \
  ##OEROOT##/../meta-refkit-gateway \
  ##OEROOT##/../meta-refkit-computervision \
  ##OEROOT##/../meta-refkit-industrial \
  ##OEROOT##/../meta-oic \
  ##OEROOT##/../iot-web-layers/meta-iot-web \
  ##OEROOT##/../meta-iotqa \
  ##OEROOT##/../meta-security \
  ##OEROOT##/../meta-security/meta-tpm \
  ##OEROOT##/../meta-security-isafw \
  ##OEROOT##/../meta-intel-realsense \
  ##OEROOT##/../meta-clang \
  ##OEROOT##/../meta-ros \
  ##OEROOT##/../meta-flatpak \
  "

# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-efl"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-filesystems"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-gnome"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-gpe"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-initramfs"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-multimedia"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-networking"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-oe"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-perl"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-python"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-ruby"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-systemd"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-webserver"
REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/meta-xfce"
# REFKIT_LAYERS += "##OEROOT##/../meta-openembedded/toolchain-layer"

# Added at the end so that it can adapt to other layers
# activated earlier.
REFKIT_LAYERS += "##OEROOT##/../meta-refkit-core"

BBLAYERS ?= "${REFKIT_LAYERS}"

# toaster uses this hint to decide whether it let's the user
# remove a layer from BBLAYERS. All layers which provide something
# that is required to build refkit-image should be listed here.
# We do not really track that, so add all layers also here.
BBLAYERS_NON_REMOVABLE ?= "${REFKIT_LAYERS}"
